#header5
  background-color: #ed145b
  display: block
  height: 40px
  width: 100%

#header5 h1
  color: #fff
  font-size: 18px
  font-weight: normal
  float: left
  height: auto
  width: auto
  display: block
  margin-left: 4%
  margin-top: 8px

.search_box5
  position: relative
  top: 0.4rem
  width: 75%
  border-radius: 20px
  display: block
  float: left
  margin-left: 10px
  background-color: #FFF
  text-align: center
  height: 28px
  overflow: hidden

.search_box5 input
  width: 80%
  height: auto
  border: none
  font-size: 0.8rem
  margin-top: 8px

.search_box5 button
  position: absolute
  top: 0.3rem
  right: 0.6rem
  width: 1.2rem
  height: 1.2rem
  border: none

.ico_07
  background: url(img/ico_07.png) no-repeat 50% 50%
  -webkit-background-size: 1.2rem 1.2rem
  -moz-background-size: 1.2rem 1.2rem
  background-size: 1.2rem 1.2rem
  width: 1.2rem
  height: 1.2rem
